@{
    Layout = null;
}

<div class="modal-dialog @ViewData["ModalSize"]" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@ViewData["Title"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="@Resources.Common.Close"></button>
        </div>
        <div class="modal-body">
            @RenderBody()
        </div>
        <div class="modal-footer">
            @await RenderSectionAsync("ModalFooter", required: false)
        </div>
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)